@import "compass"; 

// compass config

$base-font-size:        16px;
$base-line-height:      24px;
$rhythm-unit:           "rem";
$rem-with-px-fallback:  true; 

// Colors

$base-color-text:       #666;
$base-color-bg:         white;
$color-transparent:     rgba(248, 247, 243, 0);
$color-dark:            #4e4c44; 
$color-neutral:         #bcb9af; 
$color-clear:           white;
$color-brand:           #9b4458;


// Everything depends on these two variables



// units for spacing and grids

$base-unit:          $base-line-height / $base-font-size;              // 1.5    = 24px 
$base-unit-xxs:        $base-unit * 1/12;                        // 0.0625  = 2px
$base-unit-xs:        $base-unit / 3;                          // 0.5    = 8px 
$base-unit-s:        $base-unit / 2;                          // 0.75    = 12px
$base-unit-m:        $base-unit * 2/3;                        // 1    = 16px  
$base-unit-l:        $base-unit * 3/2;                        // 2.25    = 36px 
$base-unit-xl:        $base-unit * 2;                          // 3    = 48px 

// typographic scale and vertical rhythm: 
// choose your numbers at http://type-scale.com/ or http://www.gridlover.net/app/

// text-size is relative to $base-font-size (16px)
//                         text-baseline is relative to $base-line-height (24px)

$text-xs:           5/8;      $text-baseline-xs:       0.5;        // 10px / 12px 
$text-s:           0.75;      $text-baseline-s:       1;          // 12px / 24px 
$text:             1;        $text-baseline:       1;          // 16px / 24px 
$text-l:           1.25;      $text-baseline-l:       1;          // 20px / 24px 
$text-xl:           1.5625;      $text-baseline-xl:       1.5;        // 25px / 36px 
$text-xxl:           2;        $text-baseline-xxl:     1.5;        // 32px / 36px 

$text-lead:         $text-xl;    $text-baseline-lead:     $text-baseline-xl;   // 20px / 36px
$text-blockquote:      $text-l;    $text-baseline-blockquote:   $text-baseline-l;   // 20px / 24px

// buttons

$btn-radius:        $base-unit-xs;

$btn-color:          $color-brand;
$btn-color-bg:        $color-transparent;
$btn-active-color:      $color-clear;
$btn-active-color-bg:    $color-dark;

$btn-alt-color:        $base-color-bg;
$btn-alt-color-bg:      $color-neutral;
$btn-alt-active-color:    $color-clear;
$btn-alt-active-color-bg:  $color-dark;

$btn-flash-color:      $base-color-bg;
$btn-flash-color-bg:    $color-brand;
$btn-flash-active-color:  $color-clear;
$btn-flash-active-color-bg:  $color-dark;

$btn-b-width:        $base-unit-xxs;
$btn-b-style:        solid;
$btn-b-color:        $base-color-text;
$btn-b-color-bg:      $base-color-bg;
$btn-b-color-border:    $color-clear;
$btn-b-active-color:    $color-dark;
$btn-b-active-color-bg:    $color-clear;
$btn-b-active-color-border:  $color-clear;


// lists

$list-inline-sep:      ",\00A0";

// grid settings

$gutter:           $base-unit;
$container-padding:     $base-unit;
$col-max:           6;
$col-min:           2; 
$col-width:          15;   // 240px




