/*------------------------------------*\
    #MARGINS
\*------------------------------------*/

.margin-top {
	margin-top: $base-unit * $base-font-size;
	margin-top: $base-unit * 1rem;
}

.margin-top-xs {
	margin-top: $base-unit-xs * $base-font-size;
	margin-top: $base-unit-xs * 1rem;
}

.margin-top-s {
	margin-top: $base-unit-s * $base-font-size;
	margin-top: $base-unit-s * 1rem;
}

.margin-top-l {
	margin-top: $base-unit-l * $base-font-size;
	margin-top: $base-unit-l * 1rem;
}

.margin-top-xl {
	margin-top: $base-unit-xl * $base-font-size;
	margin-top: $base-unit-xl * 1rem;
}

.margin-bottom {
	margin-bottom: $base-unit * $base-font-size;
	margin-bottom: $base-unit * 1rem;
}

.margin-bottom-xs {
	margin-bottom: $base-unit-xs * $base-font-size;
	margin-bottom: $base-unit-xs * 1rem;
}

.margin-bottom-xxs {
  margin-bottom: $base-unit-xxs * $base-font-size;
  margin-bottom: $base-unit-xxs * 1rem;
}

.margin-bottom-s {
	margin-bottom: $base-unit-s * $base-font-size;
	margin-bottom: $base-unit-s * 1rem;
}

.margin-bottom-l {
	margin-bottom: $base-unit-l * $base-font-size;
	margin-bottom: $base-unit-l * 1rem;
}

.margin-bottom-xl {
	margin-bottom: $base-unit-xl * $base-font-size;
	margin-bottom: $base-unit-xl * 1rem;
}

.margin-bottom-0 {
  margin-bottom: 0;
}
